<div class="top">
	<h1>All Contacts</h1>
	<div>
		<% @contacts.each do |contact| %>
		<p>
			<span><%= contact.id %>:</span>
			<span>
				<a href="/contacts/<%= contact.id %>">
					<%= contact.first_name%> 
				</a>
				<a href="/contacts/<%= contact.id %>">
					<%= contact.last_name%>
				</a>
			</span>
			<span>Email: <%= contact.email %></span>
			<span>Note: <%= contact.note %></span>
		</p>
		<% end %>
	</div>
</div>