<div class="top">
	<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
	<div>
		<strong>Email:</strong> <%= @contact.email %></br></br>
		<strong>Note:</strong></br>
		<%= @contact.note %></br></br>

		<a href="/contacts/<%= @contact.id %>/edit">Edit Contact</a>

		<form action="/contacts/<%= @contact.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<label for="Delete">Delete:</label>
			<input id="Delete" type="submit" name="Delete Contact">
		</form>
	</div>
</div>